::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(185, 184, 184);
  border: 1.5px solid white;
}

body,
html {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  /* overflow: hidden; */
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
